
@{
    ViewBag.Title = "計算BMI";
}


<!-- Portfolio Item Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            身體質量指數(BMI)小小算盤


        </h1>
    </div>
</div>
<form class="form-horizontal" role="form" action="CalculateBMI" method="post" name="bmi">
    <div class="form-group">
        <label for="inputHeight" class="col-sm-2 control-label">身高(cm)</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputHeight" name="inputHeight" placeholder="cm">
            <!-- ... 使用者輸入#(身高) ... -->
        </div>
    </div>
    <div class="form-group">
        <label for="inputWeight" class="col-sm-2 control-label">體重(kg)</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputWeight" name="inputWeight" placeholder="kg">
            <!-- ... 使用者輸入#(體重) ... -->
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">來算一算吧</button>
            <!-- ...傳送#(form)資料 ... -->

        </div>
        <br>
        @if (@ViewData["ResultBMI"] != null)
        {
            <div class="form-group">
                <label for="outputResult" class="col-sm-2 control-label"> BMI = @ViewData["ResultBMI"] </label>
                <!-- ...回傳Result資料 ... -->
            </div>
        }
    </div>
</form>
<!-- /.row -->
