@{
    ViewBag.Title = "首頁";
}

<div>
    <br />
    <p><img src="~/picture/0.jpg" class="img-responsive" style="display:block; margin:auto;" /></p>
</div>


<div class="text-center">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" value="1">全部商品</button>
        <button type="button" class="btn btn-default" value="2">健身器材</button>
        <button type="button" class="btn btn-default" value="3">重量訓練</button>
        <button type="button" class="btn btn-default" value="4">伸展運動</button>
        <button type="button" class="btn btn-default" value="5">營養品</button>
        <button type="button" class="btn btn-default" value="6">運動衣物</button>
    </div>
    <br />
    <div style="display:block; margin:auto;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.TextBox("a", null, new { @class = "btn-info" })
            <input type="submit" value="搜尋" class="btn btn-default" />
            <input type="hidden" name="btnn" value="1" />
            <script>
                $("button").click(function (event) {
                    $("input[name=btnn]").val(this.value);

                    console.log($("input[name=btnn]"));
                });
            </script>
        }
    </div>
    <hr />
    <div class="text-center">
        <a href="@Url.Action("Index","Item")">點我進入商場</a>
    </div>
    <hr />
</div>

<div class="row">

    <div class="col-lg-12">
        <h3 class="page-header">★↖熱門產品↘☆</h3>
    </div>

    <div class="col-sm-3 col-xs-6">
        <a href="~/Items/Details/1">
            <img src="~/picture/1.jpg" class="img-responsive" />
        </a>
    </div>

    <div class="col-sm-3 col-xs-6">
        <a href="~/Items/Details/3">
            <img src="~/picture/2.jpg" class="img-responsive" />
        </a>
    </div>

    <div class="col-sm-3 col-xs-6">
        <a href="~/Items/Details/5">
            <img src="~/picture/3.jpg" class="img-responsive" />
        </a>
    </div>

    <div class="col-sm-3 col-xs-6">
        <a href="~/Items/Details/8">
            <img src="~/picture/4.jpg" class="img-responsive" />
        </a>
    </div>

</div>