
@{
    ViewBag.Title = "健身菜單";
}

<div class="row">
    <div class="col-lg-12">

        <h1 class="page-header">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            @ViewBag.Title
        </h1>
    </div>
</div>

<!-- Portfolio Item Heading -->
<table class="table">
    <caption> <h2>初階 參考課表</h2> </caption>
    <thread>
        <tr>
            <th>星期一</th>
            <th>星期二</th>
            <th>星期三</th>
            <th>星期四</th>
            <th>星期五</th>
            <th>星期六</th>
            <th>星期日</th>
        </tr>
    </thread>
    <tbody>
        <tr>
            <td>胸肌</td>
            <td>背肌</td>
            <td>腿部</td>
            <td>休息</td>
            <td>肩膀</td>
            <td>二頭肌<br />三頭</td>
            <td>休息</td>
        </tr>
    </tbody>
    <tfoot>

    </tfoot>
</table>
<table class="table">
    <caption> <h2>中階 參考課表</h2> </caption>
    <thread>
        <tr>
            <th>星期一</th>
            <th>星期二</th>
            <th>星期三</th>
            <th>星期四</th>
            <th>星期五</th>
            <th>星期六</th>
            <th>星期日</th>
        </tr>
    </thread>
    <tbody>
        <tr>
            <td>胸肌<br />肩膀<br />三頭肌</td>
            <td>背肌<br />二頭肌</td>
            <td>腿部</td>
            <td>休息</td>
            <td>胸肌<br />肩膀<br />三頭肌</td>
            <td>背肌<br />二頭肌</td>
            <td>腿部</td>
        </tr>
    </tbody>
    <tfoot>

    </tfoot>

</table>
